# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log