{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Cambiar contraseña | Aula Virtual
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/login.css' %}"
    >

</head>

<body>

    <main class="login-page">

        <section class="login-form-panel">

            <div class="login-card">

                <div class="login-card-header">

                    <h2>
                        Crear nueva contraseña
                    </h2>

                    <p>
                        Por seguridad, debés cambiar
                        la contraseña temporal antes
                        de ingresar al aula.
                    </p>

                </div>

                <form method="post">

                    {% csrf_token %}

                    {% if form.non_field_errors %}

                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>

                    {% endif %}

                    <div class="form-group-custom">

                        <label for="{{ form.password_nueva.id_for_label }}">
                            Nueva contraseña
                        </label>

                        {{ form.password_nueva }}
                        {{ form.password_nueva.errors }}

                    </div>

                    <div class="form-group-custom">

                        <label for="{{ form.confirmar_password.id_for_label }}">
                            Confirmar contraseña
                        </label>

                        {{ form.confirmar_password }}
                        {{ form.confirmar_password.errors }}

                    </div>

                    <button
                        type="submit"
                        class="btn-login"
                    >
                        Guardar contraseña
                    </button>

                </form>

            </div>

        </section>

    </main>

</body>

</html>