{% extends "base.html" %}
{% load static %}

{% block title %}Nuevo alumno | Aula Virtual{% endblock %}
{% block page_title %}Inscripciones{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inscripciones.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
    <div>
        <a href="{% url 'lista_inscripciones' curso.pk %}" class="back-link">
            <i class="bi bi-arrow-left"></i>
            Volver
        </a>

        <h1>Nuevo alumno</h1>

        <p>
            {{ curso.nombre }} · {{ curso.institucion.nombre }}
        </p>
    </div>
</section>

<section class="form-card">

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-grid">

            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

        </div>

        <div class="form-actions">
            <a
                href="{% url 'lista_inscripciones' curso.pk %}"
                class="btn-secondary-custom"
            >
                Cancelar
            </a>

            <button type="submit" class="btn-primary-custom">
                <i class="bi bi-person-check"></i>
                Crear e inscribir
            </button>
        </div>
    </form>

</section>

{% endblock %}
